
<h1 class="lbl_logo">搜尋</h1>

<%= form_tag '/search' do %>
  <%= text_field_tag 'car_maker',nil , placeholder: "汽車廠牌", class:'tbx_normal' %><br />
  <%= text_field_tag 'car_type', nil, placeholder: "汽車種類", class:'tbx_normal' %><br />
  <%= text_field_tag 'car_year', nil, placeholder: "年份", class:'tbx_normal' %><br /><br />
  <%= submit_tag "查詢"% , :class=>'btn_big btn_orange'><br /><br /><br />
<% end %>
<% if current_user.admin %>
<%= link_to '新增產品', new_product_path, :class=>'btn_big' %>
<%= link_to '訂單資訊', orders_path, :class=>'btn_big' %>
<% elsif current_user %>
<%= link_to '購物車', cart_path, :class=>'btn_big' %>
<%= link_to '訂單資訊', orders_path, :class=>'btn_big' %>
<% end %>
<%= link_to '返回', products_path, :class=>'btn_big' %>
<%= link_to '首頁', root_path, :class=>'btn_big' %>