
<style>
table{
  color:white;
  font-size: 25px;
  text-align: center;
}
thead{
  font-size:30px;
}
th, td{
  padding:20px 10px;
  font-size: 25px;
}
.btn_small{
     border:1px solid white;
     display:block;
     text-align: center;
     font-size:25px;
     color:white;
     text-decoration: none;
     padding:10px 10px;
     transition-duration: 0.2s;

}
.btn_small:hover{
  color:darkslategray;
  background-color: white;
}
.btn_small_orange:hover{
   background-color: orange;
   color:white;
}
</style>


<h1 class="lbl_logo">訂單</h1><br /><br />

<table>
  <thead>
    <tr>
      <th>狀態</th>
      <th>使用者信箱</th>
      <th>車牌</th>
      <th>車型</th>
      <th>年份</th>
      <th>數量</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.state %></td>
        <td><%= order.user.email %></td>
        <td><%= order.product.car_maker %></td>
        <td><%= order.product.car_type %></td>
        <td><%= "#{order.product.start_year}~#{order.product.end_year}" %></td>
        <td><%= order.quantity %></td>
        <td><%= link_to '內容', order, class:'btn_small' %></td>
        <% if current_user&&current_user.admin %>
        <td><%= link_to '編輯', edit_order_path(order), class:'btn_small' %></td>
        <td><%= link_to '刪除', order, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn_small btn_small_orange' %></td>
        <% end %>
        </tr>
    <% end %>
  </tbody>
</table>

<br /><br /><br />
<% if current_user&&current_user.admin %>
<%= link_to '手動新增訂單', new_order_path, class:'btn_big' %>
<% end %>
<%= link_to '首頁', root_path, class:'btn_big' %>
