<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>車牌</th>
      <th>車型</th>
      <th>年份</th>
      <th>產品尺寸</th>
      <th>價格</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.car_maker %></td>
        <td><%= product.car_type %></td>
        <td><%= "#{product.start_year}~#{product.end_year}" %></td>
        <td><%= product.size %></td>
        <td><%= product.price %></td>
	<td><%= link_to '內容', product %></td>
	<% if current_user&&current_user.admin %>
        <td><%= link_to '編輯', edit_product_path(product) %></td>
        <td><%= link_to '刪除', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% else %>
        <td><%= link_to '新增至購物車', add_cart_path(product),method: "post" %></td>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.admin %>
<%= link_to '新增產品', new_product_path %>
<%= link_to '訂單資訊', orders_path %>
<% elsif current_user %>
<%= link_to '購物車', cart_path %>
<%= link_to '訂單資訊', orders_path %>
<% end %>
<%= link_to '搜尋', search_path %>
<%= link_to '首頁', root_path %>
